body {
    background-image: url(https://dailygazette.com/sites/default/files/styles/article_image/public/media/img/photos/2016/10/26/Sports_Tease_1026.JPG?itok=c61HeTrA);
}

.quiz-container {
    color: white;
}

.js-timeout {
    color: white;
}